BOT_TOKEN=discord_bot_token
SERVER_ID=discord_server_id
MONGO_URI=mongo_db_connection_string
NODE_ENV=development # used to start the emergency button server and logging functionality
HTTP_PORT=port_for_emergency_server
EMERGENCY_USER_ID=discord_user_id
EMERGENCY_MESSAGE=placeholder
